.designSectionContainer{
    background-color: rgb(255, 255, 255);
    height: inherit;
    padding: 0px;
    box-sizing: border-box;
    clip-path: url(#slice);
    margin: 0px;
}
.wrapper{
    background-color: #ECECEC;
    padding: 0px;
    height: max-content;
    height: 90vh;
}
.top-slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: white; /* page background */
  pointer-events: none;
  clip-path: url(#slice);
}
.content{
    position: relative;
    z-index: 1;
}
h1{
    margin: 0px;
}