.testButton {
  width: 160px; /* Set a fixed width for the button */
  height: 45px; /* Set a fixed height for the button */
  background-color: transparent;
  border-radius: 10px 10px 10px 2px;
  position: relative;
  display: flex;
  justify-content: flex-start; /* Align text to the left */
  cursor: pointer;
  border: 2px solid black;
  overflow: clip;
  margin-right: 10px;
  margin-bottom: 20px;
}
.boxTile{
  background-color: rgb(49, 49, 49);
  width: 160px;
  height: 7px;
  position: absolute;
  top: 42px;
}
.boxContent{
  width: inherit;
  color: white;
  font-size: 15px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile */
@media screen and (max-width: 768px){

  .testButton{
    width: 140px;
  }
  .boxTile{
    background-color: rgb(49, 49, 49);
    width: 140px;
    height: 7px;
    position: absolute;
  }
  .boxContent{
    width: inherit;
    color: white;
    font-size: 12px !important;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

