.stackCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: rgba(251, 251, 251,0.4);
    border-radius: 30px;
    border: 1px solid black;
    
}

.stackCard p{
    font-size: 14px;
    font-family: inter;
    font-weight: 200;
    padding: 0px 0px;
}

/* tablet view */
@media screen and (max-width: 1200px) and (min-width: 1024px){
    .stackCard{
        width: max-content;
        padding: 0px 15px;
        height: 40px;
    }
}

/* mobile */

@media screen and (max-width: 768px){
    .stackCard{
        width: 95px;
        height: 35px;
        margin-right: 5px;
        margin-top: 5px;
        border: 1px solid rgb(49, 49, 49);
    }
    .stackCard p{
        font-size: 12px;
        font-family: inter;
        font-weight: 200;
        padding: 0px 0px;
    }
    
}