.LinkbuttonPrimary{
    width: 150px;
    padding: 0px 20px;
    display: flex;
    background-color: rgb(48, 48, 48);
    justify-content: space-between;
    align-items: center;
    height: 45px;
    border-radius: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.arrow{
    font-weight: 100;
}
.github{
    font-size: 22px;
}
.LinkbuttonSecondary{
    width: 150px;
    padding: 0px 20px;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
}
.linkTitle{
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
}