.heroSection{
    margin: 0px 60px;
    padding-top: 66px;
    margin-bottom: 5vh;
    height: 70vh;
  }
  
  .heroText{
    display: flex;
    height: 400px;
    color: white;
    
  }
  .heroText .devText{
    font-family: helvetica;
    height: inherit;
    width: 50%;
    font-size: 96px;
    font-weight: 900;
    line-height: 80px;
    /* font-style: italic; */

  }
  .heroText .designText{
    height: inherit;
    display: flex;
    align-items: end;
    font-size: 100px;
    justify-content: center;
    font-style: italic;
    width: 50%;
    font-style: italic;
    font-family: "the-seasons", sans-serif;
    line-height: 70%;
    
  }
  .heroContacts{
    display: flex;
    height: 100px;
    width: 300px;
    flex-wrap: wrap;
    margin-top: -50px;
  }
  
 
  /* mobileView */
    @media screen and (max-width: 768px){
        .heroSection{
            margin: 1px 30px;
            padding-top: 66px;
            margin-bottom: 50px;
            height: 70vh;
          }
          .heroText{
            flex-direction: column;
          }
        .heroText .devText{
            width: 100%;
            font-size: 56px;
            font-weight: 900;
            line-height: 44px;
          }
          .heroText .designText{
            display: flex;
            align-items: end;
            justify-content: start;
            width: 100%;
            font-size: 140px;
            font-family: caramel;
          }
          .heroContacts{
            display: flex;
            height: 100px;
            width: 300px;
            flex-wrap: wrap;
            margin-top: 50px;
          }
    }