.inputField {
  background-color: transparent;
  height: 50px;
  width: 70%;
  border: 0px;
  border-bottom: 1px solid rgb(190, 190, 190);
  color: rgb(190, 190, 190);
  padding: 0px 10px;
  font-size: 15px;
}
.inputField:focus, .messageField:focus{
  outline: none;
  border: none;
  background-color: rgba(190, 190, 190,0.1);
}
.emailField {
  font-size: 15px;
  padding-top: 10px;
  font-family: inter;
  height: 150px;
}
.messageField {
  background-color: transparent;
  height: 90px;
  width: 70%;
  border: 0px;
  border-bottom: 1px solid rgb(190, 190, 190);
  color: rgb(190, 190, 190);
  padding: 10px 10px;
  font-size: 15px;
}
.submitButton {
  background-color: green;
  width: 70%;
  border: none;
  height: 50px;
  background-color: rgb(190, 190, 190);
  font-weight: bold;
  font-size: 15px;
}
