* {
  box-sizing: border-box;
}

.header {
  color: white;
  font-family: inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 67px 0px 67px;
  height: 18vh;
}

.logo {
  width: 20%;
  font-size: 16px;
  text-align: left;
  font-family: "neighbor", sans-serif;
  font-style: normal;

  font-weight: 400;
}

.menu-icon {
  display: none;
}

.menus {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.menus ul {
  list-style-type: none;
  display: flex;
}

.noise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/noiseTexture.png");
  background-size: cover;
  opacity: 0.1;
  /* Adjust for desired noise intensity */
  pointer-events: none;
  /* Ensures clicks pass through */
  z-index: 1000;
  /* Sits above all other elements */
  mix-blend-mode: difference;
}

ul li {
  padding: 10px 20px;
  font-size: 12px;
  transition: transform 0.3s ease, color 0.3s ease;
  transform-origin: center;
  font-weight: 200;

}

ul li:hover {
  transform: perspective(500px) rotateX(5deg) skewY(-10deg);
  text-decoration: underline;
  cursor: pointer;
}

.toggleLight {
  width: 20%;
  display: flex;
  justify-content: end;
}

.toggleLight .toggleSocket {
  width: 67px;
  height: 33px;
  background-color: rgb(58, 58, 58);
  border-radius: 30px;
  border: 1px solid white;
  cursor: pointer;
}

.toggleBall {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 35px;
}

.buttonDescription {
  position: absolute;
  right: 30px;
  top: 100px;
  width: 150px;
  font-size: 12px;
  background-color: white;
  color: rgb(104, 104, 104);
  padding: 10px;
  border-radius: 8px;
}

.buttonDescription::after {
  content: '';
  clip-path: polygon(50% 0%, 0% 60%, 100% 60%);
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -5px;
  left: 42%;
}

.buttonDescription p {
  margin: 0px;
  padding: 0px;
}

.new-menu {
  display: flex;
  gap: 5px;
  align-items: center;
}

.indicator-wrapper {
  background-color: rgba(113, 204, 132,0.4);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicator{
  background-color: #71CC84;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

/* mobile version */
@media (max-width: 768px) {
  .menus {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .header {
    padding: 20px;
    height: 10vh;
  }

  .toggleLight {
    display: none;
  }

  ul li:hover {
    transform: none;
    text-decoration: underline;
    cursor: pointer;
  }
}