 /* -------- about section --------- */
 .aboutSection{
    background-color: #ECECEC;
    height: 100vh;
    color: black;
    display: flex;
    margin: 40px 67px 120px 67px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid rgba(14, 14, 14, 0.1);
    
  }
  .aboutSection::after{
    
    top: 90%; /* Adjust as needed */
    left: 100%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    content: "";
    width: 1200px;
    height: 900px;
    background: radial-gradient(ellipse, white 0%, #265733 51%, #c5c5c5 80%);
    opacity: 0.7;
    position: absolute;
    border-radius: 50%;
    filter: blur(70px);
    -webkit-mask-image: inherit;
    mask-image: inherit; /* Inherits mask from parent */
    
  }
  .leftStyle{
    width: 2%;
    height: inherit;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .leftBar{
    width: 70%;
    background-color: #454545;
  }
  .mainAbout{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    font-family: inter;
    height: inherit;
    z-index: 1;
    
  }
  .aboutTitle{
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
  }
  .mainAbout p{
    font-size: 20px;
    font-weight: 200;
  }
  .LeftMainAbout {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
  }
  .skills{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .rightMainAbout{
    width: 50%;
    padding: 20px 60px;
    height: 80vh;
  }
  .ImgCard{
    background-color: rgba(245, 245, 245, 0.3);
    border: 2px solid rgba(14, 14, 14, 0.1);
    border-radius: 30px;
    height: 100%;
    padding: 10px;
    box-shadow: 0px 4px 50px rgba(14, 14, 14, 0.25);
    backdrop-filter: blur(10px);
  }
  .profilePicture{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-image: url('../../assets/profile-pic.jpg');
    background-size: cover;
    background-position: center;
  }
  .randomQuotes{
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    margin: 20px 20px;
    color: #313131;

  }
  /* between 1200 and 1600px screen size  */
  @media screen and (max-width: 1800px) and (min-width: 1201px){
    .LeftMainAbout{
      height: 600px;
    }
    .rightMainAbout{
      height: 600px;
    }
    .aboutSection{
            margin-top: 90px;
            max-height: fit-content;
            padding-bottom: 30px;
        }
        
  }

  /* laptop and tablets */
  @media screen and (max-width: 1200px){
    .aboutSection{
            margin-top: 90px;
            height: max-content;
            padding: 10px;
        }
    .mainAbout{
            flex-direction: column;
            padding: 10px;
        }
        .LeftMainAbout{
            width: 100%;
            flex-direction: column;
            padding: 0px;
            height: max-content;
        }
        .rightMainAbout{
          width: 100%;
          padding: 0px;
        }
        
  }

  /* mobile */
    @media screen and (max-width: 768px){
        .aboutSection{
            margin: 20px;
            margin-top: 90px;
            height: max-content;
            padding: 10px;
        }
        .leftStyle{
            display: none !important;
        }
        .mainAbout{
            flex-direction: column;
            padding: 10px;
        }
        .LeftMainAbout{
            width: 100%;
            flex-direction: column;
            padding: 0px;
            height: max-content;
        }
        .rightMainAbout{
          width: 100%;
          padding: 0px;
          height: max-content;
        }
        .ImgCard{
          padding: 10px;
          height: 50vh;
        }
        
        .profilePicture{
          
        }
        
    }
