body{
  background-color: #282828;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}




/* ---------- project Section ------------ */
.projectsSection{
  background-color: #ECECEC;
  padding: 80px 67px 41px 67px;
  font-family: inter;
}

/* mobile */
@media screen and (max-width: 768px){
  body{
    width: 100vw;
  }
}

