body{
  background-color: #282828;
  margin: 0px;
}
.header{
  color: white;
  font-family: inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 67px 0px 67px;
}
.logo{
  width: 20%;
  font-size: 16px;
  text-align: left;
}
.menus{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.menus ul{
  list-style-type: none;
  display: flex;
  
}
ul li{
  padding: 10px 20px;
  font-size: 16px;
}
.toggleLight{
  width: 20%;
  display: flex;
  justify-content: end;
}
.toggleLight .toggleSocket{
  width: 67px;
  height: 33px;
  background-color: rgb(58, 58, 58);
  border-radius: 30px;
  border: 1px solid white;
}
.toggleBall{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 35px;
}

/* -------- hero section ----------  */
.heroSection{
  margin: 1px 60px;
  padding-top: 66px;
  margin-bottom: 50px;
  height: 60vh;
}

.heroText{
  display: flex;
  height: 400px;
  color: white;
  
}
.heroText .devText{
  height: inherit;
  width: 50%;
  font-size: 96px;
  font-family: inter;
  font-weight: 900;
  line-height: 80px;
}
.heroText .designText{
  height: inherit;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 50%;
  font-size: 200px;
  font-family: caramel;
  line-height: 50%;
}
.heroContacts{
  display: flex;
  height: 100px;
  width: 300px;
  flex-wrap: wrap;
  margin-top: -50px;
}

/* -------- about section --------- */
.aboutSection{
  background-color: #ECECEC;
  height: 100vh;
  color: black;
  display: flex;
  margin: 40px 67px 120px 67px;
}
.leftStyle{
  width: 1.2%;
  height: inherit;
  display: flex;
  justify-content: center;
}
.leftBar{
  width: 70%;
  background-color: #454545;
}
.mainAbout{
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  font-family: inter;
  height: inherit;
  
}
.aboutTitle{
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
}
.mainAbout p{
  font-size: 20px;
  font-weight: 200;
}
.LeftMainAbout {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
}
.skills{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.rightMainAbout{
  width: 50%;
  padding: 20px 60px;
  height: 80vh;
}
.ImgCard{
  background-color: white;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.profilePicture{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-image: url('./assets/profile-pic.jpg');
  background-size: cover;
}
/* ---------- project Section ------------ */
.projectsSection{
  background-color: #ECECEC;
  height: 100vh;
  padding: 80px 67px 41px 67px;
  font-family: inter;
}

