body{
  background-color: #282828;
  margin: 0px;
  padding: 41px 60px;
}
.header{
  width: 100%;
  color: white;
  font-family: inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 20%;
  font-size: 16px;
  text-align: left;
}
.menus{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.menus ul{
  list-style-type: none;
  display: flex;
  
}
ul li{
  padding: 10px 20px;
  font-size: 16px;
}
.toggleLight{
  width: 20%;
  display: flex;
  justify-content: end;
}
.toggleLight .toggleSocket{
  width: 67px;
  height: 33px;
  background-color: rgb(58, 58, 58);
  border-radius: 30px;
  border: 1px solid white;
}
.toggleBall{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 35px;
}

/* -------- hero section ----------  */
.heroSection{
  padding-top: 66px;
  margin-bottom: 50px;
 
}

.heroText{
  display: flex;
  height: 400px;
  color: white;
  
}
.heroText .devText{
  height: inherit;
  width: 50%;
  font-size: 96px;
  font-family: inter;
  font-weight: 900;
  line-height: 80px;
}
.heroText .designText{
  height: inherit;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 50%;
  font-size: 200px;
  font-family: caramel;
  line-height: 50%;
}
.contactButton{
  display: flex;
  width: 140px;
  height: 46px;
  border: 1px solid white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: #313131;
}
.contactButton div{
  margin-right: 10px;
  color: white;
  font-family: inter;

}
.contactButton .contactIcon{
  font-size: 24px;
}
.contactButton .buttonText{
  font-style: italic;
}

/* -------- about section --------- */
.aboutSection{
  background-color: white;
  width: 100%;
  height: 100vh;
  color: black;
  display: flex;
}
.aboutSection .leftStyle{
  width: 1.2%;
  height: inherit;
  display: flex;
  justify-content: center;
}
.leftBar{
  width: 70%;
  background-color: #454545;
}
.mainAbout{
  display: flex;
  padding-left: 50px;
  padding-top: 50px;
  width: 50%;
  font-family: inter;
  height: inherit;
  
}
.aboutTitle{
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
}
.mainAbout p{
  font-size: 20px;
  font-weight: 200;
}
.LeftMainAbout {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
}
.skills{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.skillCard{
  width: 147px;
  height: 45px;
  border: 2px solid black;
  border-radius: 10px 10px 10px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;
  
}

